# cache4j configuration for ConQAT
# This file can be used to configure all caches centrally
#
# Each rule has the format "PATTERN -> THREAD:STRATEGY:PARAMETER", where 
# * PATTERN is a regular expression used for matching, 
# * THREAD is one of NONE, SYNCHRONIZED, THREADLOCAL,
# * STRATEGY is one of OFF, SINGLE, LRU, MEMORY, UNLIMITED
# * PARAMETER is a parameter (currently only used for LRU)

# manage line-offset conversions with a 10 element LRU cache
.*TextElementUtils -> NONE:LRU:10

# cache everything else memory sensitive
.* -> NONE:MEMORY:0
